**Q01**

In [2]:
my_list=[1,2.0,True,"hasnat"]
for x in my_list:
  print(type(x))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

**Q02**

In [3]:
integer= 2049
float_num = 1.22
complex_number = 2 + 3j

string = "Python is fun!"
multiline = '''my
name is
Hasnat'''


true_value = True
false_value = False

binary= 0b1010
octal= 0o12
hex = 0xA
none = None

print("integer=",integer)
print("float_num=",float_num)
print("complex_number=",complex_number)
print("string=",string)
print("multiline=",multiline)
print("true_value=",true_value)
print("false_value=",false_value)
print("binary=",binary)
print("octal=",octal)
print("hex=",hex)
print("none=",none)

integer=  2049
float_num=  1.22
complex_number=  (2+3j)
string=  Python is fun!
multiline=  my
name is
Hasnat
true_value=  True
false_value=  False
binary=  10
octal=  10
hex=  10
none=  None

**Q3**

In [ ]:
#using >, <, ==, !=
enter_first_number=int(input("enter first number:"))
enter_second_number=int(input("enter second number:"))
if enter_first_number > enter_second_number:
  print("first number is greater than second number")
elif enter_first_number < enter_second_number:
  print("first number is less than second number")

In [4]:
guess_number= 35
input_num=int(input("enter a number:"))
if input_num > guess_number:
  print("your number is greater than guess number")
elif input_num < guess_number:
  print("your number is less than guess number")
elif input_num == guess_number:
  print("your number is equal to guess number")

enter a number:35
your number is equal to guess number

In [5]:
fruits=["orange","banana","mango"]
if "orange" or "strawberry" in fruits:
  print("orange or strawberry is in fruits")
else:
  print("orange or strawberry is not in fruits")

orange is in fruits

In [6]:
fruits=["orange","banana","mango"]
if "orange" and "strawberry" in fruits:
  print("orange and strawberry is in fruits")
else:
  print("orange and starwberry is not in fruits")

orange is not in fruits

**Q4**

In [9]:
num_list=[1,2,3,4,5,6,7,8,9,10]
sum=0
for num in num_list:
  sum=sum + num
print(sum)

55

**Q5**

In [18]:
animals=["lion","tiger","elephant","ostrich"]
print(animals[2])
animals[2]="giraffe"
print(animals)

elephant
['lion', 'tiger', 'giraffe', 'ostrich']

In [14]:
print(animals[:1])
print(animals[::-1])
print(animals[::2])

['lion']
['ostrich', 'giraffe', 'tiger', 'lion']
['lion', 'giraffe']

In [20]:
animals.append("cat")
print(animals)
animals.remove("lion")
print(animals)

['lion', 'tiger', 'giraffe', 'ostrich', 'cat', 'cat']
['tiger', 'giraffe', 'ostrich', 'cat', 'cat']

**Q6**

In [23]:
sentence= "MY name is hasnat"
print(sentence)

MY name is hasnat

In [24]:
print(sentence.upper())
print(sentence.lower())
print(sentence.capitalize())
print(sentence.title())

MY NAME IS HASNAT
my name is hasnat
My name is hasnat
My Name Is Hasnat

In [26]:
print(sentence[:10])
print(sentence[::-1])
print(sentence[::2])

MY name is
tansah si eman YM
M aei ant

In [32]:
new_sentence=sentence.replace("hasnat","hasnatullah")
print(new_sentence)
new_sentence=sentence.split()
print(new_sentence)

MY name is hasnatullah
['MY', 'name', 'is', 'hasnat']

In [31]:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

Hello World

**Q7**

In [35]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[0:1])

banana
('apple',)

In [36]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [37]:
thistuple = ("apple",)
print(type(thistuple))

thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [38]:
nerd=("shahroze","hamza","taha")
student1,student2,student3=nerd
print(student1)
print(student2)
print(student3)

shahroze
hamza
taha

**Q8**

In [40]:
inventory={"milk": 100,
           "eggs": 200,
           "juice": 300}

print("price of milk is ", inventory["milk"])

price of milk is  100

In [42]:
price= inventory.get("eggs")
print("price of eggs is ",price)

price of eggs is  200

In [43]:
x=inventory.keys()
print(x)
inventory["bread"]=400
print(x)

dict_keys(['milk', 'eggs', 'juice'])
dict_keys(['milk', 'eggs', 'juice', 'bread'])

In [44]:
y= inventory.values()
print(y)
inventory["milk"]=500
print(y)

dict_values([100, 200, 300, 400])
dict_values([500, 200, 300, 400])

In [45]:
z=inventory.items()
print(z)

dict_items([('milk', 500), ('eggs', 200), ('juice', 300), ('bread', 400)])

In [46]:
if "milk" in inventory:
  print("milk is in inventory")
inventory.update({"milk":600})
print(inventory)

milk is in inventory
{'milk': 600, 'eggs': 200, 'juice': 300, 'bread': 400}

**Q9**

In [47]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [49]:
for x in set1:
  print(x)

print(6 in set1)

1
2
3
4
5
False

In [50]:
set1.add(6)
print(set1)
set1.remove(6)
print(set1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

In [55]:
set3=set1.difference(set2)
print(set3)

{1, 2, 3}

In [51]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'kiwi', 'banana', 'apple', 'orange'}